# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. FirstName LastName

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>ist1106278 Luca Dallalana</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>ist1107157 Inês Alves</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>ist1107283 Pedro Sanguinetti</dd>
<dl>

In [2]:
%reload_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://saude:saude@postgres/saude

Deploy Dash apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

Connecting to 'postgresql+psycopg://saude:***@postgres/saude'

## 0. Carregamento da Base de Dados

Crie a base de dados “Saude” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados de seguida

In [1]:
%%sql

DROP TABLE IF EXISTS clinica CASCADE;
DROP TABLE IF EXISTS enfermeiro CASCADE;
DROP TABLE IF EXISTS medico CASCADE;
DROP TABLE IF EXISTS trabalha CASCADE;
DROP TABLE IF EXISTS paciente CASCADE;
DROP TABLE IF EXISTS receita CASCADE;
DROP TABLE IF EXISTS consulta CASCADE;
DROP TABLE IF EXISTS observacao CASCADE;

CREATE TABLE clinica(
	nome VARCHAR(80) PRIMARY KEY,
	telefone VARCHAR(15) UNIQUE NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) UNIQUE NOT NULL
);

CREATE TABLE enfermeiro(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	nome_clinica VARCHAR(80) NOT NULL REFERENCES clinica (nome)
);

CREATE TABLE medico(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	especialidade VARCHAR(80) NOT NULL
);

CREATE TABLE trabalha(
nif CHAR(9) NOT NULL REFERENCES medico,
nome VARCHAR(80) NOT NULL REFERENCES clinica,
dia_da_semana SMALLINT,
PRIMARY KEY (nif, dia_da_semana)
);

CREATE TABLE paciente(
	ssn CHAR(11) PRIMARY KEY CHECK (ssn ~ '^[0-9]+$'),
nif CHAR(9) UNIQUE NOT NULL CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	data_nasc DATE NOT NULL
);

CREATE TABLE consulta(
	id SERIAL PRIMARY KEY,
	ssn CHAR(11) NOT NULL REFERENCES paciente,
	nif CHAR(9) NOT NULL REFERENCES medico,
	nome VARCHAR(80) NOT NULL REFERENCES clinica,
	data DATE NOT NULL,
	hora TIME NOT NULL,
	codigo_sns CHAR(12) UNIQUE CHECK (codigo_sns ~ '^[0-9]+$'),
	UNIQUE(ssn, data, hora),
	UNIQUE(nif, data, hora)
);

CREATE TABLE receita(
	codigo_sns VARCHAR(12) NOT NULL REFERENCES consulta (codigo_sns),
	medicamento VARCHAR(155) NOT NULL,
	quantidade SMALLINT NOT NULL CHECK (quantidade > 0),
	PRIMARY KEY (codigo_sns, medicamento)
);

CREATE TABLE observacao(
	id INTEGER NOT NULL REFERENCES consulta,
	parametro VARCHAR(155) NOT NULL,
	valor FLOAT,
PRIMARY KEY (id, parametro)
);

UsageError: Cell magic `%%sql` not found.

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Os horários das consultas são à hora exata ou meia-hora no horário 8-13h e 14-19h

In [40]:
%%sql
-- RI 1 verifica se a hora é exata e numa hora válida
ALTER TABLE CONSULTA
    ADD CONSTRAINT time CHECK (EXTRACT(MINUTE FROM hora) IN (0, 30) AND (EXTRACT(HOUR FROM hora) BETWEEN 8 AND 12 OR EXTRACT(HOUR FROM hora) BETWEEN 14 AND 18))

++
||
++
++

(RI-2) Um médico não se pode consultar a si próprio, embora possa ser paciente de outros médicos no sistema

In [41]:
%%sql
-- RI 2 verifica se o NIF do paciente que contem SSN igual ao SSN registrado na consulta é diferente do NIF do médico que a realiza
DROP FUNCTION IF EXISTS check_doctor_patient CASCADE;

CREATE OR REPLACE FUNCTION check_doctor_patient()
RETURNS TRIGGER AS
    
$$
BEGIN
    IF (SELECT p.nif 
    FROM paciente p
    WHERE p.ssn = NEW.ssn) = NEW.nif 
    THEN
        RAISE EXCEPTION 'A doctor cannot consult themselves';
    END IF;
    RETURN NEW;
END;
$$ 

LANGUAGE plpgsql;

CREATE TRIGGER check_doctor_patient_trigger
BEFORE INSERT ON consulta
FOR EACH ROW
EXECUTE FUNCTION check_doctor_patient();

++
||
++
++

(RI-3) Um médico só pode dar consultas na clínica em que trabalha no dia da semana correspondente à data da consulta

In [42]:
%%sql
-- RI 3 verifica se o médico da consulta esta registrado para trabalhar naquela data
DROP FUNCTION IF EXISTS check_doctor_schedule CASCADE;

CREATE OR REPLACE FUNCTION check_doctor_schedule()
RETURNS TRIGGER AS 
    
$$
DECLARE
    dia_semana SMALLINT;
BEGIN
    dia_semana := EXTRACT(DOW FROM NEW.data);
    IF NOT EXISTS (
        SELECT 1
        FROM trabalha t
        WHERE t.nif = NEW.nif
        AND t.nome = NEW.nome
        AND t.dia_da_semana = dia_semana
    ) 
    THEN
        RAISE EXCEPTION 'Doctor does not work at the clinic on the specified day';
    END IF;

    RETURN NEW;
END;
$$ 

LANGUAGE plpgsql;

CREATE TRIGGER check_doctor_schedule_trigger
BEFORE INSERT ON consulta
FOR EACH ROW
EXECUTE FUNCTION check_doctor_schedule();

++
||
++
++

## 2. Preenchimento da Base de Dados

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- 5 clínicas, de pelo menos 3 localidades diferentes do distrito de Lisboa
- 5-6 enfermeiros por clínica
- 20 médicos de especialidade ‘clínica geral’ e 40 outros distribuídos como entender por até 5 outras especialidades médicas (incluindo pelo menos, ‘ortopedia’ e ‘cardiologia’). Cada médico deve trabalhar em pelo menos duas clínicas, e em cada clínica a cada dia da semana (incluindo fins de semana), devem estar pelo menos 8 médicos
- Cerca de 5.000 pacientes
- Um número mínimo de consultas em 2023 e 2024 tais que cada paciente tem pelo menos uma consulta, e em cada dia há pelo menos 20 consultas por clínica, e pelo menos 2 consultas por médico
- ~80% das consultas tem receita médica associada, e as receitas têm 1 a 6 medicamentos em quantidades entre 1 e 3
- Todas as consultas têm 1 a 5 observações de sintomas (com parâmetro mas sem valor) e 0 a 3 observações métricas (com parâmetro e valor). Deve haver ~50 parâmetros diferentes para os sintomas (sem valor) e ~20 parâmetros diferentes para as observações métricas (com valor) e os dois conjuntos devem ser disjuntos. 
- Todas as moradas são nacionais e seguem o formato Português, terminando com código postal: XXXX-XXX e de seguida a localidade.
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

In [43]:
%%sql
-- Insert clinics
INSERT INTO clinica (nome, telefone, morada) VALUES
    ('Clinica Javi Seoul Paw', '213456789', 'Rua A, 1000-101 Lisboa'),
    ('Clinica Oscar Alho', '213456780', 'Rua B, 1000-201 Lisboa'),
    ('Clinica Giuseppe Cadura', '213456781', 'Rua C, 2750-301 Cascais'),
    ('Clinica Doutor Melo Rego em Vivara Grande', '213456782', 'Rua D, 2710-401 Sintra'),
    ('Clinica Shygura Myiapyka', '213456783', 'Rua E, 2780-501 Oeiras');

-- Insert nurses
INSERT INTO enfermeiro (nif, nome, telefone, morada, nome_clinica) VALUES
    ('100000001', 'Pedro 1', '913456789', 'Rua A1, 1000-101 Lisboa', 'Clinica Javi Seoul Paw'),
    ('100000002', 'Pedro 2', '913456780', 'Rua A2, 1000-102 Lisboa', 'Clinica Javi Seoul Paw'),
    ('100000003', 'Pedro 3', '913456781', 'Rua A3, 1000-103 Lisboa', 'Clinica Javi Seoul Paw'),
    ('100000004', 'Pedro 4', '913456782', 'Rua A4, 1000-104 Lisboa', 'Clinica Javi Seoul Paw'),
    ('100000005', 'Pedro 5', '913456783', 'Rua A5, 1000-105 Lisboa', 'Clinica Javi Seoul Paw'),
    ('100000006', 'Pedro 6', '913456784', 'Rua B1, 1000-201 Lisboa', 'Clinica Oscar Alho'),
    ('100000007', 'Pedro 7', '913456785', 'Rua B2, 1000-202 Lisboa', 'Clinica Oscar Alho'),
    ('100000008', 'Pedro 8', '913456786', 'Rua B3, 1000-203 Lisboa', 'Clinica Oscar Alho'),
    ('100000009', 'Pedro 9', '913456787', 'Rua B4, 1000-204 Lisboa', 'Clinica Oscar Alho'),
    ('100000010', 'Pedro 10', '913456788', 'Rua B5, 1000-205 Lisboa', 'Clinica Oscar Alho'),
    ('100000011', 'Pedro 11', '913456789', 'Rua C1, 2750-301 Cascais', 'Clinica Giuseppe Cadura'),
    ('100000012', 'Pedro 12', '913456790', 'Rua C2, 2750-302 Cascais', 'Clinica Giuseppe Cadura'),
    ('100000013', 'Pedro 13', '913456791', 'Rua C3, 2750-303 Cascais', 'Clinica Giuseppe Cadura'),
    ('100000014', 'Pedro 14', '913456792', 'Rua C4, 2750-304 Cascais', 'Clinica Giuseppe Cadura'),
    ('100000015', 'Pedro 15', '913456793', 'Rua C5, 2750-305 Cascais', 'Clinica Giuseppe Cadura'),
    ('100000016', 'Pedro 16', '913456794', 'Rua D1, 2710-401 Sintra', 'Clinica Doutor Melo Rego em Vivara Grande'),
    ('100000017', 'Pedro 17', '913456795', 'Rua D2, 2710-402 Sintra', 'Clinica Doutor Melo Rego em Vivara Grande'),
    ('100000018', 'Pedro 18', '913456796', 'Rua D3, 2710-403 Sintra', 'Clinica Doutor Melo Rego em Vivara Grande'),
    ('100000019', 'Pedro 19', '913456797', 'Rua D4, 2710-404 Sintra', 'Clinica Doutor Melo Rego em Vivara Grande'),
    ('100000020', 'Pedro 20', '913456798', 'Rua D5, 2710-405 Sintra', 'Clinica Doutor Melo Rego em Vivara Grande'),
    ('100000021', 'Pedro 21', '913456799', 'Rua E1, 2780-501 Oeiras', 'Clinica Shygura Myiapyka'),
    ('100000022', 'Pedro 22', '913456800', 'Rua E2, 2780-502 Oeiras', 'Clinica Shygura Myiapyka'),
    ('100000023', 'Pedro 23', '913456801', 'Rua E3, 2780-503 Oeiras', 'Clinica Shygura Myiapyka'),
    ('100000024', 'Pedro 24', '913456802', 'Rua E4, 2780-504 Oeiras', 'Clinica Shygura Myiapyka'),
    ('100000025', 'Pedro 25', '913456803', 'Rua E5, 2780-505 Oeiras', 'Clinica Shygura Myiapyka'),
    ('100000026', 'Pedro 26', '913456804', 'Rua E6, 2780-506 Oeiras', 'Clinica Shygura Myiapyka');

-- Insert doctors

INSERT INTO medico (nif, nome, telefone, morada, especialidade) VALUES
    ('200000001', 'Sekinhas 1', '923456789', 'Rua A1, 1000-101 Lisboa', 'clinica geral'),
    ('200000002', 'Sekinhas 2', '923456780', 'Rua A2, 1000-102 Lisboa', 'clinica geral'),
    ('200000003', 'Sekinhas 3', '923456781', 'Rua A3, 1000-103 Lisboa', 'clinica geral'),
    ('200000004', 'Sekinhas 4', '923456782', 'Rua A4, 1000-104 Lisboa', 'clinica geral'),
    ('200000005', 'Sekinhas 5', '923456783', 'Rua A5, 1000-105 Lisboa', 'clinica geral'),
    ('200000006', 'Sekinhas 6', '923456784', 'Rua B1, 1000-201 Lisboa', 'clinica geral'),
    ('200000007', 'Sekinhas 7', '923456785', 'Rua B2, 1000-202 Lisboa', 'clinica geral'),
    ('200000008', 'Sekinhas 8', '923456786', 'Rua B3, 1000-203 Lisboa', 'clinica geral'),
    ('200000009', 'Sekinhas 9', '923456787', 'Rua B4, 1000-204 Lisboa', 'clinica geral'),
    ('200000010', 'Sekinhas 10', '923456788', 'Rua B5, 1000-205 Lisboa', 'clinica geral'),
    ('200000011', 'Sekinhas 11', '923456789', 'Rua C1, 2750-301 Cascais', 'clinica geral'),
    ('200000012', 'Sekinhas 12', '923456790', 'Rua C2, 2750-302 Cascais', 'clinica geral'),
    ('200000013', 'Sekinhas 13', '923456791', 'Rua C3, 2750-303 Cascais', 'clinica geral'),
    ('200000014', 'Sekinhas 14', '923456792', 'Rua C4, 2750-304 Cascais', 'clinica geral'),
    ('200000015', 'Sekinhas 15', '923456793', 'Rua C5, 2750-305 Cascais', 'clinica geral'),
    ('200000016', 'Sekinhas 16', '923456794', 'Rua D1, 2710-401 Sintra', 'clinica geral'),
    ('200000017', 'Sekinhas 17', '923456795', 'Rua D2, 2710-402 Sintra', 'clinica geral'),
    ('200000018', 'Sekinhas 18', '923456796', 'Rua D3, 2710-403 Sintra', 'clinica geral'),
    ('200000019', 'Sekinhas 19', '923456797', 'Rua D4, 2710-404 Sintra', 'clinica geral'),
    ('200000020', 'Sekinhas 20', '923456798', 'Rua D5, 2710-405 Sintra', 'clinica geral'),
    ('200000021', 'Sekinhas 21', '923456799', 'Rua E1, 2780-501 Oeiras', 'ortopedia'),
    ('200000022', 'Sekinhas 22', '923456800', 'Rua E2, 2780-502 Oeiras', 'ortopedia'),
    ('200000023', 'Sekinhas 23', '923456801', 'Rua E3, 2780-503 Oeiras', 'ortopedia'),
    ('200000024', 'Sekinhas 24', '923456802', 'Rua E4, 2780-504 Oeiras', 'ortopedia'),
    ('200000025', 'Sekinhas 25', '923456803', 'Rua E5, 2780-505 Oeiras', 'ortopedia'),
    ('200000026', 'Sekinhas 26', '923456804', 'Rua A1, 1000-101 Lisboa', 'cardiologia'),
    ('200000027', 'Sekinhas 27', '923456805', 'Rua A2, 1000-102 Lisboa', 'cardiologia'),
    ('200000028', 'Sekinhas 28', '923456806', 'Rua A3, 1000-103 Lisboa', 'cardiologia'),
    ('200000029', 'Sekinhas 29', '923456807', 'Rua A4, 1000-104 Lisboa', 'cardiologia'),
    ('200000030', 'Sekinhas 30', '923456808', 'Rua A5, 1000-105 Lisboa', 'cardiologia'),
    ('200000031', 'Sekinhas 31', '923456809', 'Rua B1, 1000-201 Lisboa', 'dermatologia'),
    ('200000032', 'Sekinhas 32', '923456810', 'Rua B2, 1000-202 Lisboa', 'dermatologia'),
    ('200000033', 'Sekinhas 33', '923456811', 'Rua B3, 1000-203 Lisboa', 'dermatologia'),
    ('200000034', 'Sekinhas 34', '923456812', 'Rua B4, 1000-204 Lisboa', 'dermatologia'),
    ('200000035', 'Sekinhas 35', '923456813', 'Rua B5, 1000-205 Lisboa', 'dermatologia'),
    ('200000036', 'Sekinhas 36', '923456814', 'Rua C1, 2750-301 Cascais', 'neurologia'),
    ('200000037', 'Sekinhas 37', '923456815', 'Rua C2, 2750-302 Cascais', 'neurologia'),
    ('200000038', 'Sekinhas 38', '923456816', 'Rua C3, 2750-303 Cascais', 'neurologia'),
    ('200000039', 'Sekinhas 39', '923456817', 'Rua C4, 2750-304 Cascais','neurologia'),
    ('200000040', 'Sekinhas 40', '923456818', 'Rua C5, 2750-305 Cascais', 'neurologia'),
    ('200000041', 'Sekinhas 41', '923456819', 'Rua D1, 2710-401 Sintra', 'pediatria'),
    ('200000042', 'Sekinhas 42', '923456820', 'Rua D2, 2710-402 Sintra', 'pediatria'),
    ('200000043', 'Sekinhas 43', '923456821', 'Rua D3, 2710-403 Sintra', 'pediatria'),
    ('200000044', 'Sekinhas 44', '923456822', 'Rua D4, 2710-404 Sintra', 'pediatria'),
    ('200000045', 'Sekinhas 45', '923456823', 'Rua D5, 2710-405 Sintra', 'pediatria'),
    ('200000046', 'Sekinhas 46', '923456824', 'Rua E1, 2780-501 Oeiras', 'pediatria'),
    ('200000047', 'Sekinhas 47', '923456825', 'Rua E2, 2780-502 Oeiras', 'pediatria'),
    ('200000048', 'Sekinhas 48', '923456826', 'Rua E3, 2780-503 Oeiras', 'pediatria'),
    ('200000049', 'Sekinhas 49', '923456827', 'Rua E4, 2780-504 Oeiras', 'pediatria'),
    ('200000050', 'Sekinhas 50', '923456828', 'Rua E5, 2780-505 Oeiras', 'pediatria'),
    ('200000051', 'Sekinhas 51', '923456829', 'Rua A1, 1000-101 Lisboa', 'ortopedia'),
    ('200000052', 'Sekinhas 52', '923456830', 'Rua A2, 1000-102 Lisboa', 'ortopedia'),
    ('200000053', 'Sekinhas 53', '923456831', 'Rua A3, 1000-103 Lisboa', 'ortopedia'),
    ('200000054', 'Sekinhas 54', '923456832', 'Rua A4, 1000-104 Lisboa', 'ortopedia'),
    ('200000055', 'Sekinhas 55', '923456833', 'Rua A5, 1000-105 Lisboa', 'ortopedia'),
    ('200000056', 'Sekinhas 56', '923456834', 'Rua B1, 1000-201 Lisboa', 'cardiologia'),
    ('200000057', 'Sekinhas 57', '923456835', 'Rua B2, 1000-202 Lisboa', 'cardiologia'),
    ('200000058', 'Sekinhas 58', '923456836', 'Rua B3, 1000-203 Lisboa', 'cardiologia'),
    ('200000059', 'Sekinhas 59', '923456837', 'Rua B4, 1000-204 Lisboa', 'cardiologia'),
    ('200000060', 'Sekinhas 60', '923456838', 'Rua B5, 1000-205 Lisboa', 'cardiologia');


-- Insert patients
DO $$
DECLARE
    i INTEGER;
    ssn CHAR(11);
    nif CHAR(9);
    name VARCHAR(80);
    phone VARCHAR(15);
    address VARCHAR(255);
BEGIN
    FOR i IN 1..5000 LOOP
        ssn := LPAD(i::TEXT, 11, '0');
        nif := LPAD(i::TEXT, 9, '0');
        name := 'Martin ' || i;
        phone := '9123456' || LPAD((i % 100)::TEXT, 2, '0');
        address := 'Rua ' || i || ',  1000-' || LPAD(i::TEXT, 3, '0') ||' Lisboa';
        INSERT INTO paciente (ssn, nif, nome, telefone, morada, data_nasc) VALUES (ssn, nif, name, phone, address, '1990-01-01');
    END LOOP;
END $$;

DO $$
DECLARE
    doctor_nif CHAR(9);
    clinic_name VARCHAR(80);
    day_num INTEGER;
    clinic_count INTEGER;
    consultation_id INTEGER;
    consult_date DATE;
    consult_time TIME;
    patient RECORD;
    consultation_slots TIME[] := ARRAY[
        '08:00'::TIME, '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30',
        '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30'
    ];
    codigo_sns CHAR(12);
    clinic_list TEXT[] := ARRAY[
        'Clinica Javi Seoul Paw', 'Clinica Oscar Alho', 'Clinica Giuseppe Cadura',
        'Clinica Doutor Melo Rego em Vivara Grande', 'Clinica Shygura Myiapyka'
    ];
BEGIN
    -- Initialize a table to keep track of doctor assignments
    CREATE TEMP TABLE doctor_assignments (nif CHAR(9), clinic VARCHAR(80), day_number INTEGER);

    -- Assign each doctor to at least two clinics
    FOR doctor_nif IN (SELECT nif FROM medico) LOOP
        -- Randomly assign to two different clinics
        FOR i IN 1..2 LOOP
            clinic_name := clinic_list[ceil(random() * array_length(clinic_list, 1))];
            FOR day_num IN 1..7 LOOP
                -- Check if the assignment already exists
                IF NOT EXISTS (
                    SELECT 1 FROM doctor_assignments
                    WHERE nif = doctor_nif AND clinic = clinic_name AND day_number = day_num
                ) THEN
                    INSERT INTO doctor_assignments (nif, clinic, day_number) VALUES (doctor_nif, clinic_name, day_num);
                END IF;
            END LOOP;
        END LOOP;
    END LOOP;

    -- Ensure each clinic has at least 8 doctors each day
    FOR day_num IN 1..7 LOOP
        FOR clinic_name IN (SELECT UNNEST(clinic_list)) LOOP
            clinic_count := (
                SELECT COUNT(DISTINCT nif)
                FROM doctor_assignments
                WHERE clinic = clinic_name AND day_number = day_num
            );
            IF clinic_count < 8 THEN
                FOR i IN 1..(8 - clinic_count) LOOP
                    -- Check if the doctor is already assigned to the clinic on the day
                    IF NOT EXISTS (
                        SELECT 1 FROM doctor_assignments
                        WHERE clinic = clinic_name AND day_number = day_num AND nif = doctor_nif
                    ) THEN
                        doctor_nif := (
                            SELECT nif FROM medico ORDER BY random() LIMIT 1
                        );
                        INSERT INTO doctor_assignments (nif, clinic, day_number) VALUES (doctor_nif, clinic_name, day_num);
                    END IF;
                END LOOP;
            END IF;
        END LOOP;
    END LOOP;

    -- Finalize the assignments into the trabalha table
    INSERT INTO trabalha (nif, nome, dia_da_semana)
    SELECT nif, clinic, day_number FROM doctor_assignments;

    -- Ensure each patient has at least one consultation
    FOR patient IN (SELECT ssn FROM paciente) LOOP
        clinic_name := (SELECT nome FROM clinica ORDER BY random() LIMIT 1);
        doctor_nif := (SELECT nif FROM trabalha WHERE nome = clinic_name ORDER BY random() LIMIT 1);
        consult_date := '2023-01-01'::DATE + (random() * 729)::INTEGER;
        consult_time := consultation_slots[(random() * array_length(consultation_slots, 1))::INTEGER + 1];
        consultation_id := nextval('consulta_id_seq');
        codigo_sns := LPAD(consultation_id::TEXT, 12, '0');

        -- Ensure the doctor is not consulting themselves
        IF patient.ssn <> doctor_nif THEN
            INSERT INTO consulta (ssn, nif, nome, data, hora, codigo_sns)
            VALUES (patient.ssn, doctor_nif, clinic_name, consult_date, consult_time, codigo_sns)
            ON CONFLICT DO NOTHING; -- Avoid duplicate entries
        END IF;
    END LOOP;

    -- Ensure each clinic has at least 20 consultations per day
    FOR i IN 1..730 LOOP -- Number of days in 2023 and 2024
        consult_date := '2023-01-01'::DATE + (i - 1);

        FOR clinic_name IN (SELECT UNNEST(clinic_list)) LOOP
            FOR j IN 1..20 LOOP
                doctor_nif := (SELECT nif FROM trabalha WHERE nome = clinic_name AND EXTRACT(DOW FROM consult_date) = trabalha.dia_da_semana ORDER BY random() LIMIT 1);
                patient := (SELECT ssn FROM paciente ORDER BY random() LIMIT 1);
                consult_time := consultation_slots[(j - 1) % array_length(consultation_slots, 1) + 1];
                consultation_id := nextval('consulta_id_seq');
                codigo_sns := LPAD(consultation_id::TEXT, 12, '0');

                -- Ensure the doctor is not consulting themselves
                IF patient.ssn <> doctor_nif THEN
                    INSERT INTO consulta (ssn, nif, nome, data, hora, codigo_sns)
                    VALUES (patient.ssn, doctor_nif, clinic_name, consult_date, consult_time, codigo_sns)
                    ON CONFLICT DO NOTHING; -- Avoid duplicate entries
                END IF;
            END LOOP;
        END LOOP;
    END LOOP;

    -- Clean up temporary table
    DROP TABLE doctor_assignments;
END $$;

-- Insert prescriptions
DO $$
DECLARE
    consult_id INTEGER;
    med_code CHAR(12);
    drug VARCHAR(155);
    qty SMALLINT;
BEGIN
    FOR consult_id IN (SELECT id FROM consulta) LOOP
        IF random() < 0.8 THEN
            med_code := (SELECT codigo_sns FROM consulta WHERE id = consult_id);
            FOR qty IN 1..(1 + (random() * 5)::INTEGER) LOOP
                drug := 'Medicamento ' || qty;
                INSERT INTO receita (codigo_sns, medicamento, quantidade) VALUES (med_code, drug, 1 + (random() * 2)::SMALLINT);
            END LOOP;
        END IF;
    END LOOP;
END $$;

-- Insert observations
DO $$
DECLARE
    consult_id INTEGER;
    param VARCHAR(155);
    value FLOAT;
BEGIN
    FOR consult_id IN (SELECT id FROM consulta) LOOP
        FOR param IN (SELECT 'Sintoma ' || g FROM generate_series(1, 50) AS g) LOOP
            IF random() < 0.1 THEN
                INSERT INTO observacao (id, parametro) VALUES (consult_id, param);
            END IF;
        END LOOP;
        FOR param IN (SELECT 'Metrica ' || g FROM generate_series(1, 20) AS g) LOOP
            IF random() < 0.1 THEN*****
                value := random() * 100;
                INSERT INTO observacao (id, parametro, valor) VALUES (consult_id, param, value);
            END IF;
        END LOOP;
    END LOOP;
END $$;

5 rows affected.

26 rows affected.

60 rows affected.

RuntimeError: (Your query contains named parameters (TIME, DATE, INTEGER, INTEGER, TEXT, DATE, TEXT) but the named parameters feature is "warn".
Enable it with: %config SqlMagic.named_parameters="enabled"
or disable it with: %config SqlMagic.named_parameters="disabled"
For more info, see the docs: https://jupysql.ploomber.io/en/latest/api/configuration.html#named-parameters)
(psycopg.errors.UniqueViolation) duplicate key value violates unique constraint "trabalha_pkey"
DETAIL:  Key (nif, dia_da_semana)=(200000001, 1) already exists.
CONTEXT:  SQL statement "INSERT INTO trabalha (nif, nome, dia_da_semana)
    SELECT nif, clinic, day_number FROM doctor_assignments"
PL/pgSQL function inline_code_block line 67 at SQL statement
[SQL: DO $$
DECLARE
    doctor_nif CHAR(9);
    clinic_name VARCHAR(80);
    day_num INTEGER;
    clinic_count INTEGER;
    consultation_id INTEGER;
    consult_date DATE;
    consult_time TIME;
    patient RECORD;
    consultation_slots TIME[] := ARRAY[
        '08:00'::TIME, '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30',
        '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30'
    ];
    codigo_sns CHAR(12);
    clinic_list TEXT[] := ARRAY[
        'Clinica Javi Seoul Paw', 'Clinica Oscar Alho', 'Clinica Giuseppe Cadura',
        'Clinica Doutor Melo Rego em Vivara Grande', 'Clinica Shygura Myiapyka'
    ];
BEGIN
    -- Initialize a table to keep track of doctor assignments
    CREATE TEMP TABLE doctor_assignments (nif CHAR(9), clinic VARCHAR(80), day_number INTEGER);

    -- Assign each doctor to at least two clinics
    FOR doctor_nif IN (SELECT nif FROM medico) LOOP
        -- Randomly assign to two different clinics
        FOR i IN 1..2 LOOP
            clinic_name := clinic_list[ceil(random() * array_length(clinic_list, 1))];
            FOR day_num IN 1..7 LOOP
                -- Check if the assignment already exists
                IF NOT EXISTS (
                    SELECT 1 FROM doctor_assignments
                    WHERE nif = doctor_nif AND clinic = clinic_name AND day_number = day_num
                ) THEN
                    INSERT INTO doctor_assignments (nif, clinic, day_number) VALUES (doctor_nif, clinic_name, day_num);
                END IF;
            END LOOP;
        END LOOP;
    END LOOP;

    -- Ensure each clinic has at least 8 doctors each day
    FOR day_num IN 1..7 LOOP
        FOR clinic_name IN (SELECT UNNEST(clinic_list)) LOOP
            clinic_count := (
                SELECT COUNT(DISTINCT nif)
                FROM doctor_assignments
                WHERE clinic = clinic_name AND day_number = day_num
            );
            IF clinic_count < 8 THEN
                FOR i IN 1..(8 - clinic_count) LOOP
                    -- Check if the doctor is already assigned to the clinic on the day
                    IF NOT EXISTS (
                        SELECT 1 FROM doctor_assignments
                        WHERE clinic = clinic_name AND day_number = day_num AND nif = doctor_nif
                    ) THEN
                        doctor_nif := (
                            SELECT nif FROM medico ORDER BY random() LIMIT 1
                        );
                        INSERT INTO doctor_assignments (nif, clinic, day_number) VALUES (doctor_nif, clinic_name, day_num);
                    END IF;
                END LOOP;
            END IF;
        END LOOP;
    END LOOP;

    -- Finalize the assignments into the trabalha table
    INSERT INTO trabalha (nif, nome, dia_da_semana)
    SELECT nif, clinic, day_number FROM doctor_assignments;

    -- Ensure each patient has at least one consultation
    FOR patient IN (SELECT ssn FROM paciente) LOOP
        clinic_name := (SELECT nome FROM clinica ORDER BY random() LIMIT 1);
        doctor_nif := (SELECT nif FROM trabalha WHERE nome = clinic_name ORDER BY random() LIMIT 1);
        consult_date := '2023-01-01'::DATE + (random() * 729)::INTEGER;
        consult_time := consultation_slots[(random() * array_length(consultation_slots, 1))::INTEGER + 1];
        consultation_id := nextval('consulta_id_seq');
        codigo_sns := LPAD(consultation_id::TEXT, 12, '0');

        -- Ensure the doctor is not consulting themselves
        IF patient.ssn <> doctor_nif THEN
            INSERT INTO consulta (ssn, nif, nome, data, hora, codigo_sns)
            VALUES (patient.ssn, doctor_nif, clinic_name, consult_date, consult_time, codigo_sns)
            ON CONFLICT DO NOTHING; -- Avoid duplicate entries
        END IF;
    END LOOP;

    -- Ensure each clinic has at least 20 consultations per day
    FOR i IN 1..730 LOOP -- Number of days in 2023 and 2024
        consult_date := '2023-01-01'::DATE + (i - 1);

        FOR clinic_name IN (SELECT UNNEST(clinic_list)) LOOP
            FOR j IN 1..20 LOOP
                doctor_nif := (SELECT nif FROM trabalha WHERE nome = clinic_name AND EXTRACT(DOW FROM consult_date) = trabalha.dia_da_semana ORDER BY random() LIMIT 1);
                patient := (SELECT ssn FROM paciente ORDER BY random() LIMIT 1);
                consult_time := consultation_slots[(j - 1) %% array_length(consultation_slots, 1) + 1];
                consultation_id := nextval('consulta_id_seq');
                codigo_sns := LPAD(consultation_id::TEXT, 12, '0');

                -- Ensure the doctor is not consulting themselves
                IF patient.ssn <> doctor_nif THEN
                    INSERT INTO consulta (ssn, nif, nome, data, hora, codigo_sns)
                    VALUES (patient.ssn, doctor_nif, clinic_name, consult_date, consult_time, codigo_sns)
                    ON CONFLICT DO NOTHING; -- Avoid duplicate entries
                END IF;
            END LOOP;
        END LOOP;
    END LOOP;

    -- Clean up temporary table
    DROP TABLE doctor_assignments;
END $$;]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
If you need help solving this issue, send us a message: https://ploomber.io/community

## 3. Desenvolvimento de Aplicação

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Saude’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todas as clínicas (nome e morada).|
|/c/\<clinica>/|Lista todas as especialidades oferecidas na \<clinica>.|
|/c/\<clinica>/\<especialidade>/|Lista todos os médicos (nome) da \<especialidade> que trabalham na <clínica> e os primeiros três horários disponíveis para consulta de cada um deles (data e hora).|
|/a/\<clinica>/registar/|Registra uma marcação de consulta na \<clinica> na base de dados (populando a respectiva tabela). Recebe como argumentos um paciente, um médico, e uma data e hora (posteriores ao momento de agendamento).|
|/a/\<clinica>/cancelar/|Cancela uma marcação de consulta que ainda não se realizou na \<clinica> (o seu horário é posterior ao momento do cancelamento), removendo a entrada da respectiva tabela na base de dados. Recebe como argumentos um paciente, um médico, e uma data e hora.|

### Explicação da arquitetura da aplicação web, incluindo a descrição dos vários ficheiros na pasta web/arquivos e a relação entre eles

...

## 4. Vistas

Crie uma vista materializada que detalhe as informações mais importantes sobre as consultas dos pacientes, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

### *historial_paciente(id, ssn, nif, nome, data, ano, mes, dia_do_mes, localidade, especialidade, tipo, chave, valor)*

em que:
- *id, ssn, nif, nome* e *data*: correspondem ao atributos homónimos da tabela **consulta**
- *ano, mes, dia_do_mes* e *dia_da_semana*: são derivados do atributo *data* da tabela **consulta**
- *localidade*: é derivado do atributo *morada* da tabela **clinica**
- *especialidade*: corresponde ao atributo homónimo da tabela **medico**
- *tipo*: toma os valores ‘observacao’ ou ‘receita’ consoante o preenchimento dos campos seguintes
- *chave*: corresponde ao atributo *parametro* da tabela **observacao** ou ao atributo *medicamento* da tabela **receita**
- *valor*: corresponde ao atributo *valor* da tabela **observacao** ou ao atributo *quantidade* da tabela **receita**

In [4]:
%%sql
-- CREATE MATERIALIZED VIEW ...
CREATE MATERIALIZED VIEW historial_paciente AS
SELECT 
    c.id, 
    c.ssn, 
    c.nif, 
    c.nome, 
    c.data, 
    EXTRACT(YEAR FROM c.data) AS ano, 
    EXTRACT(MONTH FROM c.data) AS mes, 
    EXTRACT(DAY FROM c.data) AS dia_do_mes, 
    SUBSTRING(cl.morada FROM POSITION(', ' IN cl.morada) + 2) AS localidade, 
    m.especialidade,
    CASE 
        WHEN o.parametro IS NOT NULL THEN 'observacao'
        WHEN r.medicamento IS NOT NULL THEN 'receita'
    END AS tipo,
    COALESCE(o.parametro, r.medicamento) AS chave,
    COALESCE(o.valor, r.quantidade) AS valor
FROM 
    consulta c
JOIN 
    clinica cl ON c.nome = cl.nome
JOIN 
    medico m ON c.nif = m.nif
LEFT JOIN 
    observacao o ON c.id = o.id
LEFT JOIN 
    receita r ON c.codigo_sns = r.codigo_sns;

RuntimeError: (psycopg.errors.DuplicateTable) relation "historial_paciente" already exists
[SQL: CREATE MATERIALIZED VIEW historial_paciente AS
SELECT
    c.id,
    c.ssn,
    c.nif,
    c.nome,
    c.data,
    EXTRACT(YEAR FROM c.data) AS ano,
    EXTRACT(MONTH FROM c.data) AS mes,
    EXTRACT(DAY FROM c.data) AS dia_do_mes,
    EXTRACT(DOW FROM c.data) AS dia_da_semana,
    cl.morada AS localidade,
    m.especialidade,
    CASE
        WHEN o.parametro IS NOT NULL THEN 'observacao'
        WHEN r.medicamento IS NOT NULL THEN 'receita'
    END AS tipo,
    COALESCE(o.parametro, r.medicamento) AS chave,
    COALESCE(o.valor, r.quantidade) AS valor
FROM
    consulta c
JOIN
    clinica cl ON c.nome = cl.nome
JOIN
    medico m ON c.nif = m.nif
JOIN
    paciente p ON c.ssn = p.ssn
LEFT JOIN
    observacao o ON c.id = o.id
LEFT JOIN
    receita r ON c.codigo_sns = r.codigo_sns;]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

## 5. Análise de Dados (SQL e OLAP

Usando a vista desenvolvida no ponto anterior, complementada com outras tabelas da base de dados ‘Saude’ quando necessário, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos. Pode usar as instruções ROLLUP, CUBE, GROUPING SETS ou as cláusulas UNION of GROUP BY para os objetivos em que lhe parecer adequado.

1. Determinar que paciente(s) tiveram menos progresso no tratamento das suas doenças do foro ortopédico para atribuição de uma consulta gratuita. Considera-se que o indicador de falta de progresso é o intervalo temporal máximo entre duas observações do mesmo sintoma (i.e. registos de tipo ‘observacao’ com a mesma chave e com valor NULL) em consultas de ortopedia.

In [ ]:
%%sql
-- SELECT ...

2. Determinar que medicamentos estão a ser usados para tratar doenças crónicas do foro cardiológico. Considera-se que qualificam quaisquer medicamentos receitados ao mesmo paciente (qualquer que ele seja) pelo menos uma vez por mês durante pelo menos doze meses consecutivos, em consultas de cardiologia.

In [ ]:
%%sql
-- SELECT ...

3. Explorar as quantidades totais receitadas de cada medicamento em 2023, globalmente, e com drill down nas dimensões espaço (localidade > clinica), tempo (mes > dia_do_mes), e médico  (especialidade > nome \[do médico]), separadamente.

In [ ]:
%%sql
-- SELECT ...

4. Determinar se há enviesamento na medição de algum parâmetros entre clínicas, especialidades médicas ou médicos, sendo para isso necessário listar o valor médio e desvio padrão de todos os parâmetros de observações métricas (i.e. com valor não NULL) com drill down na dimensão médico (globalmente > especialidade > nome \[do médico]) e drill down adicional (sobre o anterior) por clínica.

In [ ]:
%%sql
-- SELECT ...

## 6. Índices

Apresente as instruções SQL para criação de índices para melhorar os tempos de cada uma das consultas listadas abaixo sobre a base de dados ‘Saude’. Justifique a sua escolha de tabela(s), atributo(s) e tipo(s) de índice, explicando que operações seriam otimizadas e como. Considere que não existam índices nas tabelas, além daqueles implícitos ao declarar chaves primárias e estrangeiras, e para efeitos deste exercício, suponha que o tamanho das tabelas excede a memória disponível em várias ordens de magnitude.

### 6.1
SELECT nome 
FROM paciente 
JOIN consulta USING (ssn) 
JOIN observacao USING (id) 
WHERE parametro = ‘pressão diastólica’ 
AND valor >= 9;

In [18]:
%%sql
-- CREATE INDEX ...
-- Aceleram as operações de JOIN
CREATE INDEX idx_paciente_consulta_ssn ON paciente(ssn), consulta(ssn);
CREATE INDEX idx_consulta_observacao_id ON consulta(id), observacao(id);

-- Um índice composto (parametro, valor) permite filtrar rapidamente as linhas que atendem a ambos os critérios
-- É mais eficiente do que usar dois índices separados para cada coluna
CREATE INDEX parametro_valor_idx ON observacao(parametro,valor);


SELECT nome
FROM paciente
JOIN consulta USING (ssn)
JOIN observacao USING (id)
WHERE parametro = ‘pressão diastólica’ AND valor >= 9;

RuntimeError: (psycopg.errors.DuplicateTable) relation "ssn_idx" already exists
[SQL: CREATE INDEX ssn_idx ON consulta(ssn);]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

### Justificação

...

### 6.2
SELECT especialidade, SUM(quantidade) AS qtd
FROM medico 
JOIN consulta USING (nif)
JOIN receita USING (codigo_ssn) 
WHERE data BETWEEN ‘2023-01-01’ AND ‘2023-12-31’ 
GROUP BY especialidade
SORT BY qtd;

In [3]:
%%sql
-- CREATE INDEX ...

-- Acelera a operação JOIN
CREATE INDEX idx_medico_consulta_nif ON medico(nif), consulta(nif);
CREATE INDEX idx_consulta_receita_codigo_sns ON consulta(codigo_sns), receita(codigo_sns);

-- A especialidade e a qtd aceleram a seleção e as operações GROUP BY e SORT
CREATE INDEX idx_medico_especialidade ON medico(especialidade);
CREATE INDEX idx_consulta_data ON consulta(data);

SELECT especialidade, SUM(quantidade) AS qtd FROM medico
JOIN consulta USING (nif)
JOIN receita USING (codigo_ssn) 
WHERE data BETWEEN ‘2023-01-01’ AND ‘2023-12-31’ 
GROUP BY especialidade
SORT BY qtd;

RuntimeError: (psycopg.errors.DuplicateTable) relation "especialidade_idx" already exists
[SQL: CREATE INDEX especialidade_idx ON medico(especialidade);]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

### Justificação

...